@model UserClaimsViewModel

@{
    ViewData["Title"] = "User Claims";
}


<!-- Main-body start -->
<div class="main-body">
    <div class="page-wrapper">

        <div class="row">
            <div class="col-lg-9" style="margin:0 auto;">
                <!--Page-header start-->
                <div class="page-header card">
                    <div class="card-block">
                        <h5 class="m-b-10">User Claims Administration</h5>
                        <ul class="breadcrumb-title b-t-default p-t-10">
                            <li class="breadcrumb-item pull-right">
                                <a asp-action="Users" asp-controller="Administration"
                                   class="btn btn-mat btn-primary" style="color: white;">
                                    <i class="fa fa-list"></i> Users List
                                </a>

                                <a asp-action="Roles" asp-controller="Administration"
                                   class="btn btn-mat btn-primary" style="color: white;">
                                    <i class="fa fa-list"></i> Roles List
                                </a>

                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Page-header end -->
                <!-- Page body start -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Basic Form Inputs card start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5>Manage user claims</h5>

                                    <div class="card-header-right">
                                        <i class="icofont icofont-spinner-alt-5"></i>
                                    </div>

                                    <div class="card-header-right">
                                        <i class="icofont icofont-spinner-alt-5"></i>
                                    </div>
                                    <hr />
                                </div>
                                <div class="card-block">
                                    <div class="col-sm-12 text text-center">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                    </div>
                                    <div class="col-lg-6" style="margin: 0 auto;">
                                        <form method="post">
                                            <div class="form-group row">
                                                <ul class="list-group list-group-flush">
                                                    @for (int i = 0; i < Model.Claims.Count; i++)
                                                    {

                                                    <li class="list-group-item">
                                                        <input asp-for="@Model.Claims[i].IsSelected" id="@Model.Claims[i].ClaimType" type="checkbox">
                                                        &nbsp;&nbsp;
                                                        @Model.Claims[i].ClaimType
                                                        <input type="hidden" asp-for="@Model.Claims[i].ClaimType" />
                                                    </li>

                                                    }
                                                </ul>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-sm-12 text text-left">
                                                    <button type="submit" class="btn btn-mat btn-success mr-2">
                                                        <i class="fa fa-save"></i> Update
                                                    </button>

                                                    <a asp-action="EditUser" asp-route-id="@Model.UserId" asp-controller="Administration"
                                                       class="btn btn-mat btn-danger">
                                                        <i class="fa fa-times"></i> Cancel
                                                    </a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Page body end -->

                <div class="page-header card">
                    <div class="card-block">
                        <ul class="">
                            <li class="breadcrumb-item pull-left">
                                <a onclick="window.history.back();;"
                                   class="text text-danger font-weight-bold" style="cursor: pointer;">
                                    <i class="fa fa-arrow-left"></i> Back
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<!--Main-body end-->


















