@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "System Users";
}

<!-- Main-body start -->
<div class="main-body">
    <div class="page-wrapper">

        <div class="row">
            <div class="col-lg-9" style="margin:0 auto;">
                @*Page-header start*@
                <div class="page-header card">
                    <div class="card-block">
                        <h5 class="m-b-10">Users Administration</h5>
                        <ul class="breadcrumb-title b-t-default p-t-10">
                            <li class="breadcrumb-item pull-right">
                                <a asp-action="Register" asp-controller="Account"
                                   class="btn btn-mat btn-primary" style="color: white;">
                                    <i class="fa fa-user-plus"></i> Add New User
                                </a>

                                <a asp-action="CreateRole" asp-controller="Administration"
                                   class="btn btn-mat btn-info" style="color: white;">
                                    <i class="fa fa-plus"></i> Add New Role
                                </a>

                                <a asp-action="Roles" asp-controller="Administration"
                                   class="btn btn-mat btn-info" style="color: white;">
                                    <i class="fa fa-list"></i> Roles List
                                </a>

                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Page-header end -->
                <!-- Page-body start -->
                <div class="page-body">

                    <div class="card">
                        <div class="card-header">
                            <h5>System Users List</h5>
                            <div class="card-header-right">
                                <ul class="list-unstyled card-option">
                                    <li><i class="fa fa-chevron-left"></i></li>
                                    <li><i class="fa fa-window-maximize full-card"></i></li>
                                    <li><i class="fa fa-minus minimize-card"></i></li>
                                    <li><i class="fa fa-refresh reload-card"></i></li>
                                    <li><i class="fa fa-times close-card"></i></li>
                                </ul>
                            </div>
                        </div>

                        <div class="card-block table-border-style">
                            <div class="table-responsive">
                                <table id="example1" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>SNo.</th>
                                            <th>Full Name</th>
                                            <th>Email</th>
                                            <th>Roles</th>
                                            <th>Claims</th>
                                            <th>Reset Password</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ var sno = 1; }
                                        @if (Model.Any())
                                        {
                                            foreach (var user in Model)
                                            {
                                                //if(user.Email != "khayalpacha@gmail.com") {
                                                <tr>
                                                    <td>@sno</td>
                                                    <td>@user.FullName</td>
                                                    <td>@user.Email</td>
                                                    <td>
                                                        <a asp-action="ManageUserRoles" asp-controller="Administration"
                                                           asp-route-userId="@user.Id" class="text text-info">
                                                            <i class="fa fa-list"></i> Roles
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a asp-action="ManageUserClaims" asp-controller="Administration"
                                                           asp-route-userId="@user.Id" class="text text-info">
                                                            <i class="fa fa-list"></i> Claims
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a asp-action="ChangePassword" asp-controller="Administration" asp-route-id="@user.Id"
                                                           class="text text-warning">
                                                            <i class="fa fa-lock"></i> Reset Password
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a asp-action="EditUser" asp-controller="Administration" asp-route-id="@user.Id"
                                                           class="text text-primary mr-2">
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                        <a onclick="confirm_fun(event);"
                                                           class="text text-danger mr-2" style="cursor: pointer;">
                                                            <i class="fa fa-trash"></i>
                                                        </a>
                                                        <form class="p-0" id="delete_frm" style="display: inline;" asp-action="DeleteUser" asp-route-id="@user.Id" method="post">
                                                        </form>
                                                    </td>
                                                </tr>
                                                <span class="d-none">@{sno++;}</span>
                                                //}

                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    @*Basic table card end*@
                </div>
                @*Page-body end*@

                <div class="page-header card">
                    <div class="card-block">
                        <ul class="">
                            <li class="breadcrumb-item pull-left">
                                <a onclick="window.history.back();"
                                   class="text text-danger font-weight-bold" style="cursor: pointer;">
                                    <i class="fa fa-arrow-left"></i> Back
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>
@*Main-body end*@

@section Scripts{
<script>
    function confirm_fun(event){
        var c = confirm("Are you sure to delete this record?");
        if (c) {
            $("#delete_frm").submit();
        }
    }
</script>
}